:root {
  --primary-color: #ff7e5f;
  --secondary-color: #feb47b;
  --accent-color: #ab7bc1;

  --text-primary: #fff;
  --text-secondary: #fdf59b;
  --text-dark: #1a1a1a;


}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #ff7e5f, #feb47b, #ab7bc1);
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  color: var(--text-dark);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px 0 0 10px;
}

.logo img {
  height: 50px;
}

.navbar-items {
  padding: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-item {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins';
}

.navbar-item:hover {
  color: var(--primary-color);
}

.header {

  padding: 150px 80px 150px 80px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  color: var(--text-primary);
  z-index: 10;
  overflow: hidden;
}

.header-title {
  font-size: 4rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.header-text {
  font-size: 1.5rem;
  color: var(--text-secondary);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.project-intro {
  color: var(--text-secondary);
  text-align: center;
  padding-top: 24px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 64px 0 0 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

}

.project {
  border-radius: 8px;
  min-height: 200px;
  margin: 25px;

  box-shadow: .5rem .5rem 0 0 rgba(73, 70, 70, 0.395);
  background-color: rgba(255, 255, 255, 0.2);


}

.project-image {
  overflow: hidden;
  border-radius: 8px;
}

.project-image img {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.4s ease;
  display: block;
  border-radius: 8px 8px 0 0;
}

.project:hover .project-image img {
  transform: scale(1.1);
}

.project-title {
  padding-left: 10px;

  color: var(--text-dark);
  font-weight: bold;

}

.project-description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease,
    padding 0.3s ease;
}

.project.show .project-description {
  max-height: 300px;
  opacity: 1;
  padding: 10px;
}

.see-more {
  margin-left: 10px;
  color: #000;
  border: 2px solid #000;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.see-more:hover {
  background-color: var(--secondary-color);
  color: var(--text-primary);
  transform: scale(1.05);
  border: 2px solid var(--text-dark);
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #6a11cb;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}

.about {
  text-align: center;


  margin-left: 60px;
  margin-right: 60px;

  box-shadow: .5rem .5rem 0 0 rgba(73, 70, 70, 0.395);

  background-color: #fff1c1;

  padding: 40px;
  border-radius: 12px;

  

}

.about-information {
  font-weight: 300;
  font-style: normal;
  padding: 40px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 24px;
  margin: 0 24px 24px 24px;
}

.your-seasonal-movie-night {
  grid-column: 1 / 2;

}

.skal-stockholm {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.rock-paper-scissor {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.the-github-project {

  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.australian-zoo {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.assignment6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.contact-container {
  background-color: wheat;
  padding: 40px;
}

.contact {
  background-color: rgb(224, 238, 233);
  padding: 24px;
  text-align: center;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.contact-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;

}

.contact-mail {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.contact-img {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: center;
}

.socials {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 20px;
}

.footer {
  text-align: center;
  padding: 24px;
}

